<div class="comment">
    <p>Here you can have a chart of the most used spacecrafts and the favorites destinations of users.</p>
</div>
<h3 class="text-center"> Les derniers commentaires </h3>
<table class="table table-hover border">
    <thead>
        <tr class="table">
            <th class="text-center">Date</th>
            <th class="text-center">Nom - prenom</th>
            <th class="text-center">Vaisseau</th>
            <th class="text-center">Commentaire</th>
            <th class="text-center">Note</th>
        </tr>
    </thead>
    <tbody>
    {% for feedback in feedbacks %}
        <tr class="table">
            <td class="text-center">{{feedback.createdAt|date('d-m-Y H:i:s')}}</td>
            <td>{{feedback.user.lastName}} - {{feedback.user.firstName}}</td>
            <td class="text-center">{{feedback.spacecraft.name|upper}}</td>
            <td style="width:35%;" class="text-center">{{feedback.content}}</td>
            <td class="text-center">{{displayStarRating(feedback.rating)}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<p class="ml-auto text-right"><a class="btn btn-sm btn-secondary" href="{{path('app_admin_feedback_index')}}">Voir Tout</a></p>