{% extends 'base.html.twig' %}

{% block title %} [ADMIN] Liste des utilisateurs {% endblock %}

{% block body %}
<div class="container-fluid ml-auto mr-auto mt-5 p-4">
    <h1 class="text-center"> Liste des utilisateurs </h1>
    <div class="row mt-2" style="overflow:scroll">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col" class="text-center">Date d'inscription</th>
                                                            
                    <th scope="col" class="text-center">Nom <a href="{% if orderBy is same as 'u.lastName' and order is same as 'DESC' %}{{path('app_admin_user_sort',{'orderBy':'u.lastName','order':'ASC'})}}{% else %}{{path('app_admin_user_sort',{'orderBy':'u.lastName','order':'DESC'})}}{% endif %}" class="{{setSortingIcon(orderBy,'u.lastName', order)}}"></a></th>
                    <th scope="col" class="text-center">Prenom <a href="{% if orderBy is same as 'u.firstName' and order is same as 'DESC' %}{{path('app_admin_user_sort',{'orderBy':'u.firstName','order':'ASC'})}}{% else %}{{path('app_admin_user_sort',{'orderBy':'u.firstName','order':'DESC'})}}{% endif %}" class="{{setSortingIcon(orderBy,'u.firstName', order)}}"></a></th>
                    <th scope="col" class="text-center">E-mail <a href="{% if orderBy is same as 'u.email' and order is same as 'DESC' %}{{path('app_admin_user_sort',{'orderBy':'u.email','order':'ASC'})}}{% else %}{{path('app_admin_user_sort',{'orderBy':'u.email','order':'DESC'})}}{% endif %}" class="{{setSortingIcon(orderBy,'u.email', order)}}"></a>
                    <th scope="col" class="text-center">Nombre de commentaires </th>
                    <th scope="col" class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td class="text-center" scope="col">{{user.createdAt|date('d/m/Y H:i:s')}}</td>
                    <td class="text-center" scope="col">{{user.lastName}}</td>
                    <td class="text-center" scope="col">{{user.firstName}}</td>
                    <td class="text-center" scope="col"><a href="{{path('app_admin_user_show',{'id':user.id})}}">{{user.email}}</a></td>
                    <td class="text-center" scope="col">{{user.feedback|length}} </td>
                    <td scope="col" class="d-flex justify-content-center flex-row">
                        <a href="{{path('app_admin_user_show',{'id':user.id})}}" class="d-block btn btn-info btn-sm"> Voir le profil </a>
                        <a href="" class="d-block btn btn-warning btn-sm ml-1"> Contacter</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="navigation d-flex justify-content-center mt-2">
        {{knp_pagination_render(users)}}
    </div>
</div>
{% endblock %}
