{% extends 'base.html.twig' %}

{% block title %} Accueil{% endblock %}

{% block body %}
<div class="container mt-2">
    <div class="jumbotron">
        <h1 style="font-size:4rem" class="display-3">PROPULSEZ VOUS AVEC SPACETRIP !</h1>
        <p class="lead"> Vous êtes-vous déjà demandé ce qu'il y avait au-dessus de vous? Avez-vous toujours révé d'aller dans l'espace ? Passez du rêve à la réalité avec SPACETRIP* !</p>
        <hr class="my-4">
        <p>* Les voyageurs de SPACETRIP doivent respecter certaines conditions pour parciiper aux voyages(Voir les détails sur les fiches voyages.) </p>
        <p class="lead">
            <a class="btn btn-primary justify-content-center" href="#" role="button">En savoir plus</a>
        </p>
    </div>
</div>
<div class="container mt-4">
    <h1 class="homepage_title" style="font-size:2rem"> Les prochains voyages </h1>
    <div class="row mb-2">
    {% for trip in trips %}
        <div class="col-xs-12 col-md-6">
            <div class="card mb-3">
                <div class="card-header">
                    <h4 class="text-center"> {{trip.name}}</h4>
                    <h5 class="text-center"> {{trip.destination.name}}</h5>
                </div>
                <div class="card-body mb-2">
                    <h4 class="card-subtitle text-muted text-center"> {{trip.departureAt|date('d-m-Y')}} - {{trip.arrivalAt|date('d-m-Y')}} </h4>
                </div>
                <img src="https://placehold.it/300x300" alt="" class="text-center mb-4 ml-auto mr-auto">
                <div class="card-footer text-muted text-center">
                    <a href="{{path('app_trip_show',{'name':trip.name})}}" class="card-link stretched-link"> En savoir plus</a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
<div class="container mt-4">
    <h1> Ils ont adoré !  </h1>
    <div class="row mt-2">
    {% for feedback in feedbacks %}
        <div class="col-xs-12 col-md-4">
            <blockquote class="blockquote text-center">
                {{displayStarRating(feedback.rating)}}
                <p class="mb-0">{{feedback.content}}</p>
                <footer class="blockquote-footer">{{feedback.user.firstName}} {{feedback.user.lastName}}</footer>
            </blockquote>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}
