
<div class="container mt-3">
    <div class="jumbotron">
        <h1> Nouveau sur Spacetrip : Les reservations sur mesure ! </h1>
        <p> Vous avez bien lu ! Vous pouvez maintenant organiser vous meme votre voyage, choisir votre destination, voir les créneaux disponibles, choisir votre transport et préparer votre valise ! </p>
        <p class="text-danger text-center" style="font-size:18px"> Des frais de reservation de 2500 € seront ajoutés au prix final. </p>
    </div>
</div>
<div class="container mt-4 p-4">
    {{form_start(form)}}
    <div class="row">
        {{form_row(form.reserved,{'attr': {'disabled': '','checked':''}})}}
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-4">
        {{form_row(form.name,{'attr': {'ReadOnly': '', 'placeholder':'A ne pas remplir'}})}}
        </div>
        <div class="col-xs-12 col-md-12 col-lg-4">
        {{form_row(form.description,{'attr': {'ReadOnly': '','class':'descriptionForm'}})}}
        </div>
        <div class="col-xs-12 col-md-12 col-lg-4">
        {{form_row(form.availableSeatNumber, {'attr': {'ReadOnly': '','placeholder':'N/A', 'value': null}})}}
        
        </div>
    </div>
    <h3 class="text-center mt-5">Choix de la destination</h3>
    <div class="row mt-4">
        <div class="col-xs-12 col-md-12 col-lg-5 d-flex justify-content-center align-items-center">
            <div class="row">
                <img src="https://placehold.it/300x300" alt="">
            </div>
        </div>
        <div class="col-xs-12 col-md-12 col-lg-7">
        {{form_row(form.destination,{'id': 'destination'})}}
            <div class="row">
                <div class="col">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <th style="width:50%" scope="row">Distance :</th>
                                <td class="text-center"> <span id="distance"> </span> km</td>
                            </tr>
                            <tr>
                                <th style="width:50%" scope="row">Gravité :</th>
                                <td class="text-center"> <span id="gravity"> </span> m.s</td>
                            </tr>
                            <tr>
                                <th style="width:50%" scope="row">Description :</th>
                                <td class="text-center"> <span id="description"> </span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>       
        </div>
    </div>
    <h3 class="text-center mt-5">Choix du vaisseau</h3>
    <div class="row mt-4">
        <div class="col-xs-12 col-md-12 col-lg-7">
        {{form_row(form.spacecraft,{'id': 'spacecraft'})}}
            <div class="row">
                <div class="col">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <th style="width:50%" scope="col">Marque - Origine</th>
                                <td id="brand_origin" class="text-center" scope="col"></td>
                            </tr>
                            <tr>
                                <th style="width:50%" scope="row">Prix :</th>
                                <td class="text-center"> <span id="reservationPrice"></span> € + <span id="pricePerDistance"></span> €/km</td>
                            </tr>
                            <tr>
                                <th style="width:50%" scope="row">Note</th>
                                <td id="rating" class="text-center"></td>
                            </tr>
                            <tr>
                                <th style="width:50%" scope="row">Nombre de places</th>
                                <td id="available_seat_number" class="text-center"></td>
                            </tr>
                            <tr>
                                <th style="width:50%" scope="row">Vitesse</th>
                                <td id="speed" class="text-center"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-12 col-lg-5 d-flex justify-content-center align-items-center">
            <div class="row">
                <img src="https://placehold.it/300x300" alt="">
            </div>
        </div>
    </div>
    <div class="ml-auto mr-auto d-flex flex-column ">
        <h3 class="text-center mt-5">Date du voyage</h3>
        <div class="col text-center">
            {{form_row(form.departureAt)}}
            <div id="departureDateWeather" class="d-none mt-3">
                <h4 class="mt-2"> Prévisions meteorologiques : </h4>
                <img id="departureDateWeatherIcon" src="#" alt="" width="200" height="200">
                <h5 class="mb-3" id="departureWeather"></h5>
            </div>
            {{form_row(form.arrivalAt)}}
            <div id="arrivalDateWeather" class="d-none mt-3">
                <h4 class="mt-2"> Prévisions meteorologiques : </h4>
                <img id="arrivalDateWeatherIcon" src="#" alt="" width="200" height="200">
                <h5 class="mb-3" id="arrivalWeather"></h5>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <h4 class="ml-auto mr-auto"> Prix estimé : <span id="totalPrice"></span> €</h4>
    </div>
    <div class="row mt-5">
        <p class="p-2 ml-auto mr-auto">En cliquant sur "Reserver mon voyage", vous approuvez avoir une bonne condition physique pour un voyage dans l'espace </p>
        <p class="p-2 ml-auto mr-auto">Spacetrip se dénie de toute responsabilité en cas de problèmes de santé de votre part.</p>
    </div>
    <div class="row">
        <button id="submit_button" class="btn btn-primary w-50 mb-3 ml-auto mr-auto">Reserver mon voyage</button>
    </div>
    {{form_end(form)}}
</div>
