<h3 class="text-center">Les derniers voyages {% if reserved == true %}reservés{% else %}crées/mis à jour {% endif %}</h3>
<table class="table table-hover border">
    <thead>
        <tr class="table">
            <th class="text-center">Nom (Destination)</th>
            {% if reserved == true %}
            <th class="text-center">Date de départ - Date d'arrivée</th>
            <th class="text-center">Vaisseau</th>
            {% else %}
            <th class="text-center">Places restantes</th>
            <th class="text-center">Date mise à jour</th>
            {% endif %}
            <th class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for trip in trips %}
        {% if reserved == true %}
        <tr class="table">
            {% set split = trip.name|split(' - ')%}
            <td><a href="#">{{split.1}}</a> ({{split.2|upper}})</td>
            <td class="text-center">{{trip.departureAt|date('d-m-Y H:i')}} - {{trip.arrivalAt|date('d-m-Y H:i')}}</td>
            <td>{{trip.spacecraft.name|upper}}</td>
        {% else %}
            <td><a href="#">{{trip.name}} ({{trip.destination.name|upper}})</td>
            <td class="text-center">{{trip.availableSeatNumber}}</td>
            <td>{{trip.updatedAt|date('d-m-Y H:i')}}</td>
        {% endif %}
            <td class="d-flex flex-row justify-content-center">
                <a href="{{path('app_admin_trip_edit',{'id':trip.id})}}" class="d-block btn btn-sm btn-warning">Editer</a>
                <a onclick="event.preventDefault(); confirm('Etes vous sur de supprimer ce voyage de la base de données ? Cette action est irréversible.') && document.querySelector('#trip_delete_link').click()"  class="d-block btn btn-sm btn-danger ml-1"> Supprimer </a>
                <a id="trip_delete_link" class="d-block" href="{{path('app_admin_trip_delete',{'id':trip.id})}}"></a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<p class="text-right"><a class="btn btn-sm btn-secondary " href="{{path('app_admin_trip_index')}}">Voir Tout</a> | <a class="btn btn-sm btn-secondary" href="{{path('app_admin_trip_create')}}">Ajouter un nouveau voyage</a></p>