{% extends 'base.html.twig' %}

{% block title %}Les voyages{% endblock %}

{% block body %}
<div class="container mt-3 p-4">
    <div class="jumbotron">

    </div>
</div>
<div class="container mt-4 p-4">
    <h1> Les voyages actuels </h1>
    <a href="{{path('app_trip_create')}}"><p class="text-danger text-right"> Interessé par aucun voyage ? Spacetrip vous propose désormais de reserver des voyages sur-mesure !  </p></a>
    <div class="row mt-2">
    {% if trips is empty %}
        <p class="h3 ml-auto mr-auto mt-4 mb-4"> Il n'y a pas de voyages actuellement...</p>
        <p class="h3 ml-auto mr-auto mt-4 mb-4 "> Mais rien ne vous empeche de <a href="{{path('app_trip_create')}}" class="text-danger"> créer votre propre voyage !</a></p>
    {% endif %}
    {% for trip in trips %}
        <div class=" col-xs-12 col-md-6 col-xl-4 flex-wrap">
            <div class="card mb-5 pt-4 pb-4">
                <div>
                    <h4 class="text-center"> {{trip.name}}</h4>
                    <h5 class="text-center"> {{trip.destination.name}}</h5>
                </div>
                <div class="card-body">
                    <h5 class="card-subtitle text-muted text-center"> {{trip.departureAt|date('d-m-Y')}} - {{trip.arrivalAt|date('d-m-Y')}} </h5>
                </div>
                <div class="mb-4 ml-auto mr-auto pictureGroup ">
                    <img src="/images/pictures_destinations/{{trip.destination.imageName}}" alt="Image de {{trip.destination.name}}" class="destinationImage" width="100%">
                    <div class="spacecraftImage">
                        <img src="/images/pictures_spacecrafts/picture_{{trip.spacecraft.name}}.jpg" alt="Image de {{trip.spacecraft.name}}"width="100%">
                    </div>
                </div>
                <p class="text-center">{{formatPrice(trip.price,2)}} €</p>
                <div class=" text-muted text-center">
                    <a href="{{path('app_trip_show',{'name': trip.name})}}" class="card-link stretched-link"> En savoir plus</a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
    <div class="row navigation d-flex justify-content-center">
        {{knp_pagination_render(trips)}}
    </div>
</div>
{% endblock %}
