{% extends 'base.html.twig' %}

{% block title %}Les voyages{% endblock %}

{% block body %}
<div class="container mt-3">
    <div class="jumbotron">

    </div>
</div>
<div class="container mt-4">
    <h1> Les voyages actuels </h1>
    <a href="{{path('app_trip_create')}} "><p class="text-right"> Interessé par aucun voyage ? Spacetrip vous propose désormais de reserver des voyages sur-mesure !  </p></a>
    {% for row in trips|batch(3) %}
    <div class="row mt-2">
    {% for trip in row %}
        <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-header">
                    <h4 class="text-center"> {{trip.name}}</h4>
                    <h5 class="text-center"> {{trip.destination}}</h5>
                </div>
                <div class="card-body">
                    <h5 class="card-subtitle text-muted text-center"> {{trip.departureAt|date('d-m-Y')}} - {{trip.arrivalAt|date('d-m-Y')}} </h5>
                </div>
                <img src="https://placehold.it/300x300" alt="" class="text-center mb-4 ml-auto mr-auto">
                <div class="card-footer text-muted text-center">
                    <a href="{{path('app_trip_show',{'name': trip.name})}}" class="card-link"> En savoir plus</a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock %}
