{% extends 'base.html.twig' %}

{% block title %} {{trip.name}} - recapitulatif {% endblock %}
{% set price = trip.price|round %}

{% block body %}
<div class="container mt-4">
    <h1 class="text-center"> Recapitulatif de la reservation </h1>

    <div class="row mt-3">
        <div class="col-5">
            <h4 class="text-center"> Votre voyage </h4>
            <a href="{{path('app_trip_edit',{'id':trip.id})}}" class="btn btn-sm btn-primary d-flex justify-content-center mb-3">Modifier mon voyage</a>
            <div class="row">
                <div class="col">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <th> Destination </th>
                                <td> {{trip.destination.name}} </td>
                            </tr>
                            <tr>
                                <th> Vaisseau utilisé </th>
                                <td> {{trip.spacecraft.name|upper}}</td>
                            </tr>
                            <tr>
                                <th> Lieu de départ </th>
                                <td> {{trip.spacecraft.nationality}}</td>
                            </tr>
                            <tr>
                                <th> Periode de voyage </th>
                                <td> {{trip.departureAt|date('d/m/Y')}} - {{trip.arrivalAt|date('d/m/Y')}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <p> Votre voyage prendra départ à l'entreprise {{trip.spacecraft.brand|upper}} - {{trip.spacecraft.nationality|upper}}</p>
                        <p class="ml-auto mr-auto"> L'embarquement aura lieu <strong>20 minutes</strong> avant l'heure de décollage indiqué {{trip.departureAt|date('H:i')}}. </p>
                        <p class="text-danger">Veuillez etre sur les lieux au plus tard à {{trip.departureAt|date_modify('-20 minutes ')|date('H:i')}}.</p>
                        <p>Les billets des retardataires ne seront pas remboursés.</p>
                    </div>
                </div>
            </div>
            <div class="row">
               <!-- <iframe width="600" height="450" style="border:3" loading="lazy" allowfullscreen
                    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCjw1CmDLmie3_56kYx237wli-D1bDiCC8
                        &q={{trip.spacecraft.nationality}}">
                </iframe> -->
            </div>
        </div>
        <div class="col-7">
            <h4 class="text-center"> Paiement</h4>
            <h5 class="text-center mt-4"> Prix à payer : {{formatPrice(trip.price,0)}} €</h5>
            <div class="row mt-4">
                <div class="col">
                    {% include 'trip/partials/_paymentApiDisplay.html.twig' %}
                </div>
            </div>
        </div>
    </div>
</div>
<form method="POST" id="csrf" action="{{path('app_trip_succeed',{'id':trip.id})}}">
    <input type="hidden" name="token" value="{{csrf_token('purchasing')}}">
</form>
{% endblock %}



