{% extends 'base.html.twig' %}

{% block title %}Les voyages{% endblock %}

{% block body %}
<div class="container mt-4">
    <div class="row">
        <a href="{{path('app_trip_index')}}" class="btn btn-primary btn-md rounded"><i class="bi bi-arrow-left"></i> Retour</a>
    </div>
</div>
<div class="container mt-4 text-center tripBackground">

    <h1> VOYAGE {{trip.name}} - {{trip.destination.name}}</h1>
    <h2> {{trip.departureAt|date('d-m-Y')}} - {{trip.arrivalAt|date('d-m-Y')}}</h2>
</div>
<div class="container mt-2">
    <div class="row">
        <div class="col-md-8 ">
            <h3 class="text-center"> Détails du voyage </h3>
            <div class="row">
                <p>{{trip.description}} Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam consequuntur aliquid quasi officia, vitae eos ratione incidunt voluptate doloremque adipisci sit sed? Aliquid, consequuntur quos? Perspiciatis magnam tenetur voluptatum reprehenderit.
                Magnam officiis id voluptatibus sunt perspiciatis hic illum error beatae quis repellendus, sit, soluta quaerat illo? Molestiae ipsum magnam officiis quaerat sed tenetur, inventore tempora quod, veniam odio quisquam labore.
                Corporis fugiat facere officia aspernatur cum ullam consequuntur quis! Inventore sit similique nobis officia molestiae ex saepe ad tenetur perspiciatis autem. Asperiores vitae ratione tempora et nostrum odit aliquid repudiandae!
                Eum, quam assumenda sunt tenetur consequatur iure ab beatae accusamus vitae minima molestias, nam, nostrum ad explicabo. Est, quasi similique. Commodi ad quam quas architecto, libero cum vel similique molestiae?
                A perspiciatis quia laboriosam et nisi fuga obcaecati quos magni esse molestias quasi libero nobis voluptatem porro fugit nulla similique perferendis, beatae explicabo reprehenderit! Rem alias perspiciatis minus fugit corporis!</p>
            </div>
            <div class="row">
                <p> <i class="bi bi-exclamation-diamond-fill"></i> La participation à ce voyage requiert un bon etat physique. Veuillez consulter un medecin avant de reserver le voyage</p>
            </div>
            <div class="row">
            {% if trip.availableSeatNumber <= 2 %}
                <p class="text-center badge badge-pill badge-danger w-75 ml-auto mr-auto p-2"> Il reste actuellement {{trip.availableSeatNumber}} place(s) disponibles. N'attendez plus pour reserver ! </p>
            {% else %}
                <p class="text-center"> Nombre de places disponibles pour ce voyage : {{trip.availableSeatNumber}} </p>
            {% endif %}
            </div>

            <div class="row">
                <button class="btn btn-primary ml-auto mr-auto"> Reserver une place </button>
            </div>
        </div>
        <div class="col-md-4 ">
            <h3 class="text-center"> Le vaisseau </h3>
            <div class="row">
                <img class="ml-auto mr-auto" src="http://placehold.it/200x200" alt="">
            </div>
            <div class="row mt-2">
                <h4 class=" ml-auto mr-auto"> <a href="{{path('app_spacecraft_show',{'id':trip.spacecraft.id})}}">{{trip.spacecraft.name}} ({{trip.spacecraft.brand}})</a></h4>
            </div>
            <div class="row">
                <p class="ml-auto mr-auto"> Note moyenne des utilisateurs : {{displayStarRating(trip.spacecraft.rating)}}</p>
                <a href="{{path('app_spacecraft_show',{'id':trip.spacecraft.id})}}" class="btn btn-primary btn-sm ml-auto mr-auto rounded">Voir les avis sur ce vaisseau</a>
            </div>
            <div class="row mt-3">
                <h5 class="ml-auto mr-auto"> Origine : {{trip.spacecraft.nationality}} </h5>
            </div>
            <div class="row mt-2">
                <h6 class="ml-auto mr-auto">Caracteristiques techniques : </h6>
                <ul>
                    <li class="text-center"> Vitesse : {{trip.spacecraft.speed}} km/h </li>
                    <li class="text-center"> Nombre de places : {{trip.spacecraft.numberOfSeat}} sièges </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}