{% extends 'base.html.twig' %}

{% block title %}Les voyages{% endblock %}

{% block body %}
<div class="container mt-4">
    <div class="row">
        <a href="{{path('app_trip_index')}}" class="btn btn-primary btn-md rounded"><i class="bi bi-arrow-left"></i> Retour</a>
    </div>
</div>
<div class="container mt-4 text-center tripBackground">

    <h1> VOYAGE {{trip.name}} - {{trip.destination.name}}</h1>
    <h2> {{trip.departureAt|date('d-m-Y')}} - {{trip.arrivalAt|date('d-m-Y')}}</h2>
</div>
<div class="container mt-4">
 {% if trip.availableSeatNumber <= 2 %}
    <div class="row">
        <p class="text-center badge badge-pill badge-danger w-50 ml-auto mr-auto p-2"> Il reste actuellement {{trip.availableSeatNumber}} place(s) disponibles. N'attendez plus pour reserver ! </p>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-md-8 ">
            <h3 class="text-center"> La destination </h3>
            <h4 class="text-center"> {{trip.destination.name|upper}}</h4>
            <div class="row">
                <div class="col-4">
                    <img src="https://placehold.it/300x300" alt="" class="w-100">
                </div>
                <div class="col-8">
                    <p>{{trip.description}} Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam consequuntur aliquid quasi officia, vitae eos ratione incidunt voluptate doloremque adipisci sit sed? Aliquid, consequuntur quos? Perspiciatis magnam tenetur voluptatum reprehenderit.
                    Magnam officiis id voluptatibus sunt perspiciatis hic illum error beatae quis repellendus, sit, soluta quaerat illo? Molestiae ipsum magnam officiis quaerat sed tenetur, inventore tempora quod, veniam odio quisquam labore.nventore tempora quod, veniam odio quisquam labonventore tempora quod, veniam odio quisquam labo...<a class="text-danger" href="{{path('app_destination_show',{'name':trip.destination.name})}}"> Voir plus </a></p>
                    
                </div>
            </div>
            <div class="row">
                <table class="table table-hover w-75 ml-auto mr-auto">
                    <thead>
                        <tr>
                            <th colspan="2" class="text-center" scope="col">Caracteristiques techniques</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table">
                            <td>Distance par rapport à la terre</td>
                            <td>{{trip.destination.distance|number_format(0,'',' ')}} km</td>
                        </tr>
                        <tr class="table">
                            <td>Temperature ambiante</td>
                            <td> 187°C</td>
                        </tr>
                        <tr class="table">
                            <td>Column content</td>
                            <td>Column content</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-4 ">
            <h3 class="text-center"> Le vaisseau </h3>
            <div class="row">
                <img class="ml-auto mr-auto" src="http://placehold.it/200x200" alt="">
            </div>
            <div class="row mt-2">
                <h4 class=" ml-auto mr-auto"> <a href="{{path('app_spacecraft_show',{'id':trip.spacecraft.id})}}">{{trip.spacecraft.name}} ({{trip.spacecraft.brand}})</a></h4>
            </div>
            <div class="row">
                <p class="ml-auto mr-auto"> Note moyenne des utilisateurs : {{displayStarRating(trip.spacecraft.rating)}}</p>
                <a href="{{path('app_spacecraft_show',{'id':trip.spacecraft.id})}}" class="btn btn-primary btn-sm ml-auto mr-auto rounded">Voir les avis sur ce vaisseau</a>
            </div>
            <div class="row mt-3">
                <h5 class="ml-auto mr-auto"> Origine : {{trip.spacecraft.nationality}} </h5>
            </div>
            <div class="row mt-2">
                <h6 class="ml-auto mr-auto">Caracteristiques techniques : </h6>
                <ul>
                    <li class="text-center"> Vitesse : {{trip.spacecraft.speed|number_format(2,'.',' ')}} km/h </li>
                    <li class="text-center"> Nombre de places : {{trip.spacecraft.numberOfSeat}} sièges </li>
                    <li class="text-center"> Prix initial : {{formatPrice(trip.spacecraft.reservationPrice,2)}} € </li>
                    <li class="text-center"> Prix au kilomètre : {{formatPrice(trip.spacecraft.pricePerDistance,5)}} €/km </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3 class="text-center"> Détails du voyage </h3>
            <div class="row">
                <p>{{trip.description}} Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam consequuntur aliquid quasi officia, vitae eos ratione incidunt voluptate doloremque adipisci sit sed? Aliquid, consequuntur quos? Perspiciatis magnam tenetur voluptatum reprehenderit.
                Magnam officiis id voluptatibus sunt perspiciatis hic illum error beatae quis repellendus, sit, soluta quaerat illo? Molestiae ipsum magnam officiis quaerat sed tenetur, inventore tempora quod, veniam odio quisquam labore.
                Corporis fugiat facere officia aspernatur cum ullam consequuntur quis! Inventore sit similique nobis officia molestiae ex saepe ad tenetur perspiciatis autem. Asperiores vitae ratione tempora et nostrum odit aliquid repudiandae!
                Eum, quam assumenda sunt tenetur consequatur iure ab beatae accusamus vitae minima molestias, nam, nostrum ad explicabo. Est, quasi similique. Commodi ad quam quas architecto, libero cum vel similique molestiae?
                A perspiciatis quia laboriosam et nisi fuga obcaecati quos magni esse molestias quasi libero nobis voluptatem porro fugit nulla similique perferendis, beatae explicabo reprehenderit! Rem alias perspiciatis minus fugit corporis!</p>
            </div>
            <div class="row">
                <p> <i class="bi bi-exclamation-diamond-fill"></i> La participation à ce voyage requiert un bon etat physique. Veuillez consulter un medecin avant de reserver le voyage</p>
            </div>
            <div class="row">
            {% if trip.availableSeatNumber <= 2 %}
                <p class="text-center badge badge-pill badge-danger w-50 ml-auto mr-auto p-2"> Il reste actuellement {{trip.availableSeatNumber}} place(s) disponibles. N'attendez plus pour reserver ! </p>
            {% else %}
                <p class="text-center"> Nombre de places disponibles pour ce voyage : {{trip.availableSeatNumber}} </p>
            {% endif %}
            </div>
            <div class="row">
                <h4 class="ml-auto mr-auto"> Prix du voyage : {{formatPrice(trip.price,0)}} €</h4>
            </div>
            <div class="row">
                <button type="button" class="btn btn-primary btn-success btn-sm ml-auto mr-auto" data-toggle="collapse" data-target="#priceExplanation">Pourquoi ce prix ?</button>
                <div id="priceExplanation" class="collapse card card-body mt-2 border-success">
                    <p> Le prix des voyages dépend de 2 facteurs principaux : la destination du voyage et le vaisseau utilisé.</p>
                    <p> Le prix se calcule donc par le produit de la distance de la destination ({{trip.destination.distance|number_format(0,'',' ')}} km) et le prix kilometrique du vaisseau ({{formatPrice(trip.spacecraft.pricePerDistance,5)}} €/km), dans lequel le prix de reservation du vaisseau ({{formatPrice(trip.spacecraft.reservationPrice,2)}} €) est ajouté.</p>
                </div>
            </div>
            <div class="row mb-4 mt-4 d-flex flex-column justify-content-center">
                <p class="text-center">En cliquant sur "Reserver une place", vous approuvez avoir une bonne condition physique pour un voyage dans l'espace </p>
                <p class="text-center">Spacetrip se dénie de toute responsabilité en cas de problèmes de santé de votre part.</p>
                <a href="{{path('app_trip_payment',{'id':trip.id})}}" class="btn btn-primary ml-auto mr-auto rounded mb-1"> Reserver une place </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}