{% extends 'base.html.twig' %}

{% block title %} Les vaisseaux Spacetrip{% endblock %}



{% block body %}
<div class="container mt-4">
    <div class="jumbotron">
        <h1> Les vaisseaux Spacetrip </h1>
        <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint earum quam accusantium dolore aperiam rem alias quod magnam excepturi maiores.</p>
    </div>
</div>
<div class="container mt-2">
    <div class="row">
        {% for spacecraft in spacecrafts %}
        {% set missingStars = 5 - spacecraft.rating%}
        <div class="col-4">
            <div class="card mb-3">
                <h3 class="card-header text-center">{{spacecraft.name}}</h3>
                <div class="card-body text-center pb-0">
                    <h5 class="card-title">{{spacecraft.brand}} ({{spacecraft.nationality}})</h5>
                    <p>{% for i in 1..spacecraft.rating %}<i class="bi bi-star-fill"></i>{% endfor %}{% for i in 1..missingStars %}<i class="bi bi-star"></i>{% endfor %} ({{spacecraft.feedback|length}})</p>
                </div>
                <img src="https://placehold.it/200x200" alt="" class="ml-2 mb-2 mr-2">
                <div class="card-footer text-muted text-center">
                    <a href="{{path('app_spacecraft_show',{'id':spacecraft.id})}}" class="card-link stretched-link">En savoir plus</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="navigation d-flex justify-content-center">
        {{knp_pagination_render(spacecrafts)}}
    </div>
</div>



{% endblock %}