{% extends 'base.html.twig' %}

{% block title %} Les vaisseaux Spacetrip{% endblock %}



{% block body %}
<div class="container mt-4 p-4">
    <div class="jumbotron">
        <h1> Les vaisseaux Spacetrip </h1>
        <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint earum quam accusantium dolore aperiam rem alias quod magnam excepturi maiores.</p>
    </div>
</div>
<div class="container mt-2 p-4">
    <div class="row">
        {% if spacecrafts is empty %}
        <p class="h3 ml-auto mr-auto mt-4 mb-4"> Il n'y a aucun vaisseau disponible actuellement... Veuillez réessayer ulterieurement.</p>
        {% endif %}
        {% for spacecraft in spacecrafts %}
        <div class="col-xs-12 col-md-6 col-xl-4">
            <div class="card mb-5 pt-4 pb-4">
                <h3 class="text-center">{{spacecraft.name|upper}}</h3>
                <div class="card-body text-center pb-0">
                    <h5 class="card-title">{{spacecraft.brand}} ({{spacecraft.nationality}})</h5>
                    <p style="font-size:1.3rem"> {{displayStarRating(spacecraft.rating)}} ({{spacecraft.feedback|length}})</p>
                    {% if spacecraft.available is same as true %}
                    <span style="font-size:15px;" class="badge rounded-pill bg-success w-50 ml-auto mr-auto mb-3">Disponible</span>
                    {% else %}
                    <span style="font-size:15px;" class="badge rounded-pill bg-warning w-50 ml-auto mr-auto mb-3">En maintenance</span>
                    {% endif %}
                </div>
                <div class="p-4">
                    <img src="{{ vich_uploader_asset(spacecraft, 'imageFile') }}" alt="Image de {{spacecraft.name}}" class="mb-2 d-block destinationImage">
                </div>
                <div class="text-muted text-center">
                    <a href="{{path('app_spacecraft_show',{'id':spacecraft.id})}}" class="card-link stretched-link">En savoir plus</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="navigation d-flex justify-content-center">
        {{knp_pagination_render(spacecrafts)}}
    </div>
</div>



{% endblock %}