{% extends 'base.html.twig' %}

{% block title %} Vaisseau {{spacecraft.name|upper}}{% endblock %}
{% block body %}

    

<div class="container mt-4 p-4 bg-white rounded">
    <h1 class="text-center"> Vaisseau {{spacecraft.name|upper}}</h1>
    <div class="row">
        <div class="comment">
        <p>The status of the spacecraft can be changed on the admin page. Non-available spacecraft cannot be choose when reserving a trip.</p>
        </div>
        {% if spacecraft.available is same as true %}
        <h2 style="font-size:1rem" class="badge rounded-pill bg-success w-50 ml-auto mr-auto mb-3 ">Disponible</h2>
        {% else %}
        <h2 style="font-size:1rem" class="badge rounded-pill bg-warning w-50 ml-auto mr-auto mb-3 text-center">En maintenance</h2>
        {% endif %}
    </div>
    <h2 class="text-center"> {{spacecraft.brand}} ({{spacecraft.nationality}}) </h2>
    <h3 class="text-center">{{displayStarRating(spacecraft.rating)}} <a href="#" id="goFeedback">({{spacecraft.feedback|length}})</a></h3>
    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-5">
            <img src="{{ vich_uploader_asset(spacecraft, 'imageFile') }}" alt="Image de {{spacecraft.name}}" width="100%">
        </div>
        <div class="col-xs-12 col-md-12 col-lg-7 bg-secondary">
            <div class="row mt-2">
                <p class="p-2">Perferendis vero impedit ipsa incidunt? Asperioresamus rerum accusantium, laudantium illum cumque distinctio assumenda temporibus magnam necessitatibus tium, laudantium illum cumque distinctio assumenda temporibus magnam necessitatibus ab laab laboriosam itaque qui quidem eaque blanditiis ut quasi.</p>
            </div>
            <div class="row">
                <table class="table table-hover">
                    <tbody>
                        <tr class="text-center">
                            <td> Nombre de sièges </td>
                            <td>{{spacecraft.numberOfSeat}}</td>
                        </tr>
                        <tr class="text-center">
                            <td> Vitesse</td>
                            <td>{{spacecraft.speed}} km/h</td>
                        </tr>
                        <tr>
                            <td class="text-center"> Destinations possibles</td>
                            <td class="ml-auto mr-auto"> <ul class="ml-auto mr-auto">{% for possibleDestination in spacecraft.possibleDestination %}<li class="text-center"><a href="{{path('app_destination_show',{'name':possibleDestination.name})}}">{{possibleDestination.name}}</a></li>{% endfor %}</ul></td>
                        </tr>
                        <tr class="text-center">
                            <td> Prix </td>
                            <td>{{formatPrice(spacecraft.reservationPrice,0)}} € + {{formatPrice(spacecraft.pricePerDistance,5)}} €/km</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="container mt-2 p-4 bg-white rounded">
    <h3>l'entreprise</h3>
    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-9">
            <p class="p-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus quas eos omnis magni neque, earum ut, fugiat commodi fugit tenetur, rerum pariatur nam soluta reiciendis amet. Quia debitis ullam molestiae saepe, ad at explicabo doloremque magnam obcaecati, numquam eum quae, hic minima veniam temporibus! Enim repellendus, officia libero in dolores cumque, delectus porro, consectetur laudantium culpa necessitatibus commodi facere maxime quae. Ipsum accusamus blanditiis illum sed itaque, autem rem consectetur, quia debitis sequi culpa quasi voluptate dicta non ratione id!</p>
        </div>
        <div class="col-xs-12 col-md-12 col-lg-3 d-flex justify-content-center align-items-center">
            <img class="d-block" src="/images/pictures_spacecrafts/pictures_spacecrafts_brands/picture_{{spacecraft.brand}}.png" width="50%" alt="Logo de {{spacecraft.brand}}">
        </div>
    </div>
</div>
<div class="container-fluid mt-3 p-4 bg-white rounded">
    <h3 id="feedback"> Les derniers commentaires </h3>
    <a class="d-flex justify-content-end" href="{{path('app_feedback_create',{id:spacecraft.id})}}">Vous avez déja eu une experience avec ce vaisseau ? Donnez nous votre avis !</a>
    <div class="row addScroll">
        {% if feedbacks is empty %}
        <p class="h3 ml-auto mr-auto mt-4 mb-4"> Il n'y a actuellement aucun commentaire pour ce vaisseau. <a href="{{path('app_feedback_create',{id:spacecraft.id})}}" class="text-danger">Soyez le premier ! </a></p>
        {% else %}
        <table style="width:2000px;" class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Date <a href="{% if orderBy is same as 'createdAt' and order is same as 'DESC'%}{{path('app_spacecraft_feedback_sort',{'id':spacecraft.id,'orderBy':'createdAt','order':'ASC'})}}{% else %}{{path('app_spacecraft_feedback_sort',{'id':spacecraft.id,'orderBy':'createdAt','order':'DESC'})}}{% endif %}" class="{{setSortingIcon(orderBy,'createdAt',order)}}"></a></th>
                    <th scope="col">Auteur</th>
                    <th style="width:40%;" scope="col">Commentaires</th>
                    <th scope="col">Note <a href="{% if orderBy is same as 'rating' and order is same as 'DESC'%}{{path('app_spacecraft_feedback_sort',{'id':spacecraft.id,'orderBy':'rating','order':'ASC'})}}{% else %}{{path('app_spacecraft_feedback_sort',{'id':spacecraft.id,'orderBy':'rating','order':'DESC'})}}{% endif %}" class="{{setSortingIcon(orderBy,'rating',order)}}"></a></th>
                </tr>
            </thead>
            <tbody>
          
            {% for feedback in feedbacks %}
                <tr>
                    <td>{{feedback.createdAt|date('d/m/Y H:i')}}</td>
                    <td>{{feedback.user.firstName}} {{feedback.user.lastName|upper}}</td>
                    <td>{{feedback.content}}</td>
                    <td style="font-size:1rem"> {{displayStarRating(feedback.rating)}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</div>
{% endblock %}
{% block javascripts %}
<script>
$(document).ready(function(){
    {% if orderBy is not same as null and order is not same as null %}
        $(document).scrollTop( $("#feedback").offset().top );  
    {% endif %}
})
</script>
{% endblock %}