{% extends 'base.html.twig' %}

{% block title %}Page administrateur{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="text-center"> Récapitulatif </h1>
    <div class="row">
    <ul class="nav nav-pills ml-auto mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="">Accueil</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle {% if class is same as 'trip' %} active {% endif %}" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Derniers voyages</a>
            <div class="dropdown-menu">
                <a class="dropdown-item {% if class is same as 'trip' and reserved == false %} active {% endif %}" href="{{path('app_admin_trip_home')}}">Derniers voyages crées/mis à jour</a>
                <a class="dropdown-item {% if class is same as 'trip' and reserved == true %} active {% endif %}" href="{{path('app_admin_reserved_trips_home')}}">Derniers voyages reservés</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if class is same as "spacecraft" %} active {% endif %}" href="{{path('app_admin_spacecraft_home')}}">Derniers vaisseaux crées/mis à jour</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if class is same as "user" %} active {% endif %}" href="{{path('app_admin_user_home')}}">Derniers utilisateurs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if class is same as "feedback" %} active {% endif %}" href="{{path('app_admin_feedback_home')}}">Derniers commentairres</a>
        </li>
    </ul>
    </div>
    <div class="row mt-3">
        <div class="col">
            {% include('admin/' ~ class ~ '/partials/_index.html.twig')%}
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
<script>

</script>
{% endblock %}