{% extends 'base.html.twig' %}

{% block title %}[ADMIN] Recapitulatif {% endblock %}

{% block body %}
<div class="container mt-5 p-4 bg-white rounded">
    <h1 class="text-center"> Récapitulatif </h1>
    <div class="row">
        <div class="comment">
            <p>This is the admin section. Here, you can see all datas about trips, spacecrafts, users, and feedbacks. You can also edit them.
                You can go the each sections to have more comment about actions you can do</p>
        </div>
        <ul class="nav nav-pills ml-auto mr-auto">
            <li class="nav-item col-xs-12 col-md-12">
                <a class="nav-link {% if class is same as 'home' %} active {% endif %}" href="{{path('app_admin_home')}}">Accueil</a>
            </li>
            <li class="nav-item dropdown col-xs-12 col-md-12">
                <a class="nav-link dropdown-toggle {% if class is same as 'trip' %} active {% endif %}" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Derniers voyages</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item {% if class is same as 'trip' and reserved == false %} active {% endif %}" href="{{path('app_admin_trip_show_latest')}}">Derniers voyages crées/mis à jour</a>
                    <a class="dropdown-item {% if class is same as 'trip' and reserved == true %} active {% endif %}" href="{{path('app_admin_reserved_trips_show_latest')}}">Derniers voyages reservés</a>
                </div>
            </li>
            <li class="nav-item col-12 col-xs-12 col-md-12">
                <a class="nav-link {% if class is same as "spacecraft" %} active {% endif %}" href="{{path('app_admin_spacecraft_show_latest')}}">Derniers vaisseaux crées/mis à jour</a>
            </li>
            <li class="nav-item col-12 col-xs-12 col-md-12">
                <a class="nav-link {% if class is same as "user" %} active {% endif %}" href="{{path('app_admin_user_show_latest')}}">Derniers utilisateurs</a>
            </li>
            <li class="nav-item col-12 col-xs-12 col-md-12">
                <a class="nav-link {% if class is same as "feedback" %} active {% endif %}" href="{{path('app_admin_feedback_show_latest')}}">Derniers commentaires</a>
            </li>
            <li class="nav-item col-12 col-xs-12 col-md-12">
                <a class="nav-link {% if class is same as "destination" %} active {% endif %}" href="{{path('app_admin_destination_show_latest')}}">Dernières destinations crées/mis à jour</a>
            </li>
        </ul>
    </div>
    <div class="row mt-3">
        <div class="col addScroll">
            {% include('admin/' ~ class ~ '/partials/_index.html.twig')%}
        </div>
    </div>
</div>
{% endblock %}
