
    {{form_start(form)}}
    <div class="row">
        <div class="col">
            {{form_row(form.name)}}
            {{form_row(form.brand)}}
            {{form_row(form.nationality)}}
        </div>
        <div class="col">
            {{form_row(form.numberOfSeat)}}
            {{form_row(form.speed)}}
            {{form_row(form.price)}}
        </div>
    </div>
        {{form_row(form.possibleDestination)}}
        {{form_row(form.description)}}
    <div class="row">
        <button class="btn btn-primary w-25 ml-auto mr-auto">{% if action is same as 'create' %} Créer un nouveau{% else %} Modifier un {% endif %} vaisseau</button>
    </div>
    {{form_end(form)}}