<h3 class="text-center"> Les derniers vaisseaux ajoutés/mis à jour</h3>
<table class="table table-hover border">
    <thead>
        <tr class="table-primary">
            <th class="text-center">Nom - Marque (Origine)</th>
            <th class="text-center"> Note moyenne</th>
            <th class="text-center">Date mise à jour</th>
            <th class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for spacecraft in spacecrafts %}
        <tr class="table">
            <td>{{spacecraft.name}} - {{spacecraft.brand}}({{spacecraft.nationality}})</td>
            <td class="text-center">{{spacecraft.rating}}</td>
            <td class="text-center">{{spacecraft.updatedAt|date('d-m-Y H:i:s')}}</td>
            <td class="d-flex flex-row">
                <a href="{{path('app_admin_spacecraft_edit',{'id':spacecraft.id})}}" class="btn btn-warning btn-sm">Editer</a>
                <a onclick="event.preventDefault(); confirm('Etes vous sur de supprimer ce vaisseau de la base de données ? Cette action est irréversible.') && document.querySelector('#spacecraft_delete_link_{{spacecraft.id}}').click()"  class="btn btn-sm btn-danger ml-1"> Supprimer </a>
                <a id="spacecraft_delete_link_{{spacecraft.id}}" style="display:none;" href="{{path('app_admin_spacecraft_delete',{'id':spacecraft.id})}}"></a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<p class="text-right"><a class="btn btn-sm btn-secondary" href="{{path('app_admin_spacecraft_index')}}">Voir Tout</a> | <a class="btn btn-sm btn-secondary" href="{{path('app_admin_spacecraft_create')}}">Ajouter un nouveau vaisseau</a></p>