{% extends 'base.html.twig' %}

{% block title %} Les destinations{% endblock %}

{% block body %}
<div class="container mt-4 p-4">
    <h1 style="font-size:2rem" class="text-center"> Les destinations proposés par Spacetrip </h1>
    <div class="jumbotron">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore adipisci soluta molestias laboriosam ipsa impedit minima quis quibusdam nam libero repudiandae eveniet accusantium, fugit, repellendus error commodi itaque quod. Dolorem aliquam ipsum repudiandae. Reiciendis ad et, quo molestias iure quia labore, voluptatibus asperiores vitae numquam nam officiis nobis fugiat, fuga blanditiis sequi? Mollitia, ea labore. Magni, exercitationem veniam officia tempora nam quaerat libero ea optio mollitia eveniet dolorem minus. Qui quo officiis rem aspernatur, nulla corporis ipsa omnis numquam laboriosam dolore sed similique velit in provident. Delectus aperiam repellat cum.</p>
    </div>
</div>
<div class="container p-4">
    <div class="row">
    {% if destinations is empty %}
        <p class="h3 ml-auto mr-auto mt-4 mb-4"> Il n'y actuellement aucune destination disponible... Réessayez ulterieurement.</p>
    {% endif %}
    {% for destination in destinations %}
        <div class="col-xs-12 col-lg-6 col-xl-4">
            <div class="card mb-5 pt-4 pb-4">
                <h3 class="text-center">{{destination.name}}</h3>
                <img src="/images/pictures_destinations/picture_{{destination.name}}.jpg" alt="Image de {{destination.name}}" class="m-4">
                <div class="text-muted text-center">
                    <a href="{{path('app_destination_show',{'name':destination.name})}}" class="card-link stretched-link">En savoir plus</a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
    <div class="row navigation d-flex justify-content-center">
        {{knp_pagination_render(destinations)}}
    </div>
</div>
{% endblock %}
