{% extends 'base.html.twig' %}

{% block title %}[ADMIN] Liste des vaisseaux {% endblock %}

{% block body %}
<div class="container-fluid ml-auto mr-auto mt-5">
    <h1 class="text-center"> Liste des vaisseaux </h1>
    <div class="row">
        <a href="{{path('app_admin_spacecraft_show_latest')}}" class="btn btn-primary btn-md ml-5 rounded"><i class="bi bi-arrow-left"></i> Retour </a>
        <p class="ml-auto mr-5"><a href="{{path('app_admin_spacecraft_create')}}">Créer un nouveau vaisseau</a></p>
    </div>
    <div class="row mt-2">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col" class="text-center">Date de creation</th>
                    <th scope="col" class="text-center">Nom <a href="{% if orderBy is same as 's.name' and order is same as 'DESC' %}{{path('app_admin_spacecraft_sort',{'orderBy':'s.name','order':'ASC'})}}{% else %}{{path('app_admin_spacecraft_sort',{'orderBy':'s.name','order':'DESC'})}}{% endif %}" class="{{setSortingIcon(orderBy,'s.name', order)}}"></a></th>
                    <th scope="col" class="text-center">Marque <a href="{% if orderBy is same as 's.brand' and order is same as 'DESC' %}{{path('app_admin_spacecraft_sort',{'orderBy':'s.brand','order':'ASC'})}}{% else %}{{path('app_admin_spacecraft_sort',{'orderBy':'s.brand','order':'DESC'})}}{% endif %}" class="{{setSortingIcon(orderBy,'s.brand', order)}}"></a></th>
                    <th scope="col" class="text-center">Origine <a href="{% if orderBy is same as 's.nationality' and order is same as 'DESC' %}{{path('app_admin_spacecraft_sort',{'orderBy':'s.nationality','order':'ASC'})}}{% else %}{{path('app_admin_spacecraft_sort',{'orderBy':'s.nationality','order':'DESC'})}}{% endif %}" class="{{setSortingIcon(orderBy,'s.nationality', order)}}"></a></th>
                    <th scope="col" class="text-center">Destinations possibles</th>
                    <th scope="col" class="text-center">Prix <a href="{% if orderBy is same as 's.price' and order is same as 'DESC' %}{{path('app_admin_spacecraft_sort',{'orderBy':'s.price','order':'ASC'})}}{% else %}{{path('app_admin_spacecraft_sort',{'orderBy':'s.price','order':'DESC'})}}{% endif %}" class="{{setSortingIcon(orderBy,'s.price', order, 'numeric')}}"></a></th>
                    <th scope="col" class="text-center">Note moyenne <a href="{% if orderBy is same as 's.rating' and order is same as 'DESC' %}{{path('app_admin_spacecraft_sort',{'orderBy':'s.rating','order':'ASC'})}}{% else %}{{path('app_admin_spacecraft_sort',{'orderBy':'s.rating','order':'DESC'})}}{% endif %}" class="{{setSortingIcon(orderBy,'s.rating', order, 'numeric')}}"></a></th>
                    <th scope="col" class="text-center">Vaisseau opérationnel</th>
                    <th scope="col" class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for spacecraft in spacecrafts %}
                <tr>
                    <td class="text-center" scope="col">{{spacecraft.createdAt|date('d/m/Y H:i:s')}}</td>
                    <td class="text-center" scope="col">{{spacecraft.name|upper}}</td>
                    <td class="text-center" scope="col">{{spacecraft.brand}}</td>
                    <td class="text-center" scope="col">{{spacecraft.nationality}}</td>
                    <td class="text-center" scope="col">{% for possibleDestination in spacecraft.possibleDestination %} {{possibleDestination.name}} {% endfor %}</td>
                    <td class="text-center" scope="col">{{formatPrice(spacecraft.reservationPrice,0)}} € + {{formatPrice(spacecraft.pricePerDistance,5)}} €/km</td>
                    <td class="text-center" scope="col">{{displayStarRating(spacecraft.rating)}}</td>
                    <td class="text-center" scope="col"><input type="checkbox" onchange="ajaxCheckbox({{spacecraft.id}})" {% if spacecraft.available is same as true %} checked value= "1" {% else %} value="0" {% endif %} name="available_checkbox_{{spacecraft.id}}" id="available_checkbox_{{spacecraft.id}}"></td>
                    <td scope="col">
                        <a href="{{path('app_admin_spacecraft_edit',{'id':spacecraft.id})}}" class="btn btn-warning btn-sm">Editer</a>
                        <a onclick="event.preventDefault(); confirm('Etes vous sur de supprimer ce voyage de la base de données ? Cette action est irréversible.') && document.querySelector('#spacecraft_delete_link_{{spacecraft.id}}').click()"  class="btn btn-sm btn-danger ml-1"> Supprimer </a>
                        <a id="spacecraft_delete_link_{{spacecraft.id}}" style="display:none;" href="{{path('app_admin_spacecraft_delete',{'id':spacecraft.id})}}"></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="navigation d-flex justify-content-center">
        {{knp_pagination_render(spacecrafts)}}
    </div>
</div>
{% endblock %}
{% block javascripts %}
<script>

        function ajaxCheckbox(id){
         if($("#available_checkbox_" + id).val() == 1 ){
                $("#available_checkbox_" + id).val(0)
            } else{
                $("#available_checkbox_" + id).val(1)

            }
            let value = $("#available_checkbox_" + id).val()
        $.ajax({
            method:"POST",
            url: '{{path('app_admin_spacecraft_available')}}',
            data: {id: id, value: value}
        })
        .done({
            
        })
        }


</script>

{% endblock %}
