{% extends 'base.html.twig' %}

{% block title %}[ADMIN] Liste des destinations {% endblock %}

{% block body %}
<div class="container-fluid ml-auto mr-auto mt-5 p-4 bg-white rounded">
    <h1 class="text-center"> Liste des destinations </h1>
    <div class="row">
        <p class="ml-auto"><a href="{{path('app_admin_destination_create')}}">Ajouter une nouvelle destination</a></p>
    </div>
    <div class="row mt-2 addScroll">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col" class="text-center">Date de création</th>
                    <th scope="col" class="text-center">Nom</th>
                    <th scope="col" class="text-center">Distance (km)</th>
                    <th class="text-center">Vaisseaux disponibles</th>
                    <th scope="col" class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for destination in destinations %}
                <tr>
                    <td class="text-center align-middle" scope="col">{{destination.createdAt|date('d/m/Y H:i')}}</td>
                    <td class="text-center align-middle" scope="col">{{destination.name}}</td>
                    <td class="text-center align-middle" scope="col">{{destination.distance|number_format(0,'.',' ')}} km</td>
                    <td class="align-middle">
                        {% if destination.spacecrafts is not empty %}
                        <ul>
                        {% for spacecraft in destination.spacecrafts %}
                            <li class="mt-2">{{spacecraft.name}} {{addColorByStatus(spacecraft.available)}}</li>
                        {% endfor %}
                        </ul>
                        {% else %}
                            <p class="text-center align-middle">Aucun</p>
                        {% endif %}
                    </td>
                    <td class="d-flex flex-row justify-content-center">
                        <a href="{{path('app_admin_destination_edit',{'id':destination.id})}}" class="d-block btn btn-sm btn-warning">Editer</a>
                        <a onclick="event.preventDefault(); confirm('Etes vous sur de supprimer cette destination de la base de données ? Cette action est irréversible.') && document.querySelector('#destination_delete_link').click()"  class="d-block btn btn-sm btn-danger ml-1"> Supprimer </a>
                        <a id="destination_delete_link" class="d-none" href="{{path('app_admin_destination_delete',{'id':destination.id})}}"></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="navigation d-flex justify-content-center mt-2">
        {{knp_pagination_render(destinations)}}
    </div>
</div>
{% endblock %}
