{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
<div class="container mt-4 p-4">
    <div class="row mt-5 d-flex justify-content-between">
        <div class="comment">
            <p>This page is the user's profile page, the user can edit his informations, see his latest feedbacks and his next and previous trips.</p>
        </div>
        <div class="col-xs-12 col-lg-5">
            <div class="row">
                <h3 class="ml-auto mr-auto"> Vos informations </h3>
            </div>
            <table class="table">
                <tbody>
                    <tr>
                        <td>Nom</td>
                        <td>{{app.user.lastName}}</td>
                    </tr>
                    <tr>
                        <td>Prenom</td>
                        <td>{{app.user.firstName}}</td>
                    </tr>
                    <tr>
                        <td>Adresse e-mail</td>
                        <td>{{app.user.email}}</td>
                    </tr>
                    <tr>
                        <td>Mot de passe</td>
                        <td><a href="{{path('app_user_edit')}}">Modifier le mot de passe</a></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr class="table">
                        <td colspan="3" class="text-right"><a href="{{path('app_user_edit')}}" class="btn btn-sm btn-info">Editer</a></td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class=" col-xs-12 col-lg-6">
            <h3 class="text-center"> Mes derniers commentaires </h3>
            <div class="row">
                <div id="comments" class="list-group p-2 w-100 d-flex flex-column  justify-content-center" style="height:290px; overflow:scroll; overflow-x: hidden">
                    {% if feedbacks is empty %}
                    <p class="h4 text-center border">Vous avez déja effectué un voyage avec un vaisseau ? <a class="color-danger" href="{{path('app_spacecraft_index')}}">Donnez nous votre avis sur nos vaisseaux !</a></p>
                    {% endif %}
                    {% for feedback in feedbacks %}
                    <div class="d-flex w-100 justify-content-between p-2 border-top">
                        <h5 class="mb-1"><a href="{{path('app_spacecraft_show',{'id':feedback.spacecraft.id})}}">{{feedback.spacecraft.name}}</a></h5>
                        <small>{{feedback.createdAt|date('d/m/Y H:i:s')}}</small>
                    </div>
                    <p class="mb-1">{{feedback.content}}</p>
                    <p class="text-right">Note : {{displayStarRating(feedback.rating)}}</p>
                    {% endfor %}
                </div>              
            </div>
        </div>
    </div>
</div>
<div class="container p-4">
    <h3 class="text-center"> Vos voyages </h3>
    <div class="row">
    <div class="comment">
        <p>The user can see below each trips that he reserved or created, with their status. Following the status,
        the user can do different action such as cancel a reservation, edit a reserved trip etc..</p>
    </div>
        <div class="col-xs-12 col-lg-6 mt-4">
            <h5 class="text-center"> Les voyages </h5>
            <div class="list-group">
            {% if trips is empty %}
                <p class="h4 text-center"> Vous n'avez participé à aucun voyage pour l'instant. <a class="text-danger" href="{{path('app_trip_index')}}">Regardez les voyages disponibles</a></p>
            {% endif %}
            {% for trip in trips %}
                <div class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h6 class="mb-1"> {{trip.name}} - {{trip.destination.name}}</h6>
                        <div class="dropdown">
                            <button class="btn btn-info btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Modifier
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a href="{{path('app_trip_delete',{'id':trip.id})}}" class="dropdown-item text-center">Annuler ma réservation</a>
                            </div>
                        </div>
                    </div>
                    <p class="mb-1"> Vaisseau : {{trip.spacecraft.name}}</p>
                    <p class="mb-1">Départ : {{trip.departureAt|date('d/m/Y H:i')}} à {{trip.spacecraft.nationality}}</p>
                    <p class="mb-1">Arrivée : {{trip.arrivalAt|date('d/m/Y H:i')}} à {{trip.spacecraft.nationality}}</p>
                    <form class="d-flex justify-content-end" action="{{path('app_get_ticket',{'trip':trip.id})}}" method="post" id="crsrForm">
                        <input type="hidden" name="token" value="{{csrf_token('getTicket')}}">
                        {{getStatus(trip.status,trip.id)}}
                    </form>
                </div>
            {% endfor %}
            </div>
        </div>
        <div class="col-xs-12 col-lg-6 mt-4">
            <h5 class="text-center"> Vos voyages réservés </h5>
            <div class="list-group">
            {% if reservedTrips is empty %}
              <p class="h4 text-center"> Vous n'avez crée pour l'instant. <a class="text-danger" href="{{path('app_trip_create')}}">Créez votre premier voyage ! </a></p>
            {% endif %}
            {% for reservedTrip in reservedTrips %}
                <div class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between mb-2">
                        <h6 class="mb-1 d-flex align-items-center">Voyage à destination de {{reservedTrip.destination.name}}</h6>
                        {% if reservedTrip.status is not same as 4 %}
                        <div class="dropdown">
                            <button class="btn btn-info btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Modifier
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a href="{{path('app_trip_edit',{'id':reservedTrip.id})}}" class="dropdown-item text-center">Editer mon voyage</a>
                                <a href="{{path('app_trip_delete',{'id':reservedTrip.id})}}" class="dropdown-item text-center">Annuler ma réservation</a>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    <p class="mb-1"> Vaisseau : {{reservedTrip.spacecraft.name}}</p>
                    <p class="mb-1">Départ : {{reservedTrip.departureAt|date('d/m/Y H:i')}} à {{reservedTrip.spacecraft.nationality}}</p>
                    <p class="mb-1">Arrivée : {{reservedTrip.arrivalAt|date('d/m/Y H:i')}} à {{reservedTrip.spacecraft.nationality}}</p>
                    <form {% if reservedTrip.status is same as 2 %} class="d-flex justify-content-end" {% endif %} action="{{path('app_get_ticket',{'trip':reservedTrip.id})}}"  target="_blank" method="post" id="crsrForm">
                        <input type="hidden" name="token" value="{{csrf_token('getTicket')}}">
                        {{getStatus(reservedTrip.status,reservedTrip.id,true)}}
                    </form>
                </div>
            {% endfor %}
            </div>
            <a class="d-flex justify-content-end" href="{{path('app_trip_create')}}">Un nouveau voyage à reserver ? cliquez ici</a>
        </div>
    </div>

</div>
{% endblock %}
{% block javascripts %}
<script>
    $(document).ready(function(){
        feedbackAnimate();
    })
</script>
{% endblock %}

