{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
<div class="container mt-4">
    <div class="row mt-5 d-flex justify-content-between">
        <div class="col-5">
            <div class="row">
                <h3 class="ml-auto mr-auto"> Vos informations </h3>
            </div>
            <table class="table">
                <tbody>
                    <tr>
                        <td>Nom</td>
                        <td>{{app.user.lastName}}</td>
                    </tr>
                    <tr>
                        <td>Prenom</td>
                        <td>{{app.user.firstName}}</td>
                    </tr>
                    <tr>
                        <td>Adresse e-mail</td>
                        <td>{{app.user.email}}</td>
                    </tr>
                    <tr>
                        <td>Mot de passe</td>
                        <td><a href="{{path('app_user_edit')}}">Modifier le mot de passe</a></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr class="table">
                        <td colspan="3" class="text-right"><a href="{{path('app_user_edit')}}" class="btn btn-sm btn-info">Editer</a></td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="col-6">
            <h3 class="text-center"> Mes derniers commentaires </h3>
            <div class="row">
                <div id="comments" class="list-group p-2 w-100" style="height:290px; overflow:scroll; overflow-x: hidden">
                    {% for feedback in feedbacks %}
                    <div class="d-flex w-100 justify-content-between p-2 border-top">
                        <h5 class="mb-1"><a href="{{path('app_spacecraft_show',{'id':feedback.spacecraft.id})}}">{{feedback.spacecraft.name}}</a></h5>
                        <small>{{feedback.createdAt|date('d/m/Y H:i:s')}}</small>
                    </div>
                    <p class="mb-1">{{feedback.content}}</p>
                    <p class="text-right">Note : {{displayStarRating(feedback.rating)}}</p>
                    {% endfor %}
                </div>              
            </div>
        </div>
    </div>
</div>
<div class="container">
    <h3 class="text-center"> Vos voyages </h3>
    <div class="row">
        <div class="col mt-3">
            <h5 class="text-center"> Les voyages </h5>
            <div class="list-group">
            {% for trip in trips %}
                <div class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1"> {{trip.name}} - {{trip.destination.name}}</h5>
                    </div>
                    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                        <form class="d-flex justify-content-end" action="{{path('app_get_ticket',{'trip':trip.id})}}" method="post" id="crsrForm">
                            <input type="hidden" name="token" value="{{csrf_token('getTicket')}}">
                            {{getStatus(trip.status,trip.id)}}
                        </form>
                </div>
            {% endfor %}
            </div>
        </div>
        <div class="col">
            <h5 class="text-center"> Vos voyages réservés </h5>
            <a class="d-flex justify-content-end" href="{{path('app_trip_create')}}">Un nouveau voyage à reserver ? cliquez ici</a>
            <div class="list-group">
            {% for reservedTrip in reservedTrips %}
                <div class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h6 class="mb-1">Voyage à destination de {{reservedTrip.destination.name}}</h6>
                    </div>
                    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                    <form {% if reservedTrip.status is same as 2 %} class="d-flex justify-content-end" {% endif %} action="{{path('app_get_ticket',{'trip':reservedTrip.id})}}" method="post" id="crsrForm">
                        <input type="hidden" name="token" value="{{csrf_token('getTicket')}}">
                        {{getStatus(reservedTrip.status,reservedTrip.id,true)}}
                    </form>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>

</div>
{% endblock %}
{% block javascripts %}
<script>
    $(document).ready(function(){
        function feedbackAnimate(){
        $("#comments").animate({ scrollTop: $("#comments").height() }, 10000, "linear").animate({ scrollTop: 0 }, 10000, "linear", feedbackAnimate);

        };
        feedbackAnimate();

        $("#comments").hover(function(){
            $("#comments").stop();},function(){
                feedbackAnimate();
            })

        

    }); 
</script>
{% endblock %}

