{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
<div class="container mt-4">
    <div class="row mt-5 d-flex justify-content-between">
        <div class="col-4">
            <div class="row">
                <h3 class="ml-auto mr-auto"> Vos informations </h3>
            </div>
            <table class="table">
                <tbody>
                    <tr>
                        <td>Nom</td>
                        <td>{{app.user.lastName}}</td>
                    </tr>
                    <tr>
                        <td>Prenom</td>
                        <td>{{app.user.firstName}}</td>
                    </tr>
                    <tr>
                        <td>Adresse e-mail</td>
                        <td>{{app.user.email}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr class="table">
                        <td colspan="3" class="text-right"><button class="btn btn-sm btn-info">Editer</button></td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="col-6">
            <h3 class="text-center"> Mes derniers commentaires </h3>
            <div class="row">
                <div class="list-group p-2 w-100" style="height:290px; overflow:scroll">
                    {% for feedback in feedbacks %}
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1"><a href="{{path('app_spacecraft_show',{'id':feedback.spacecraft.id})}}">{{feedback.spacecraft.name}}</a></h5>
                        <small>{{feedback.createdAt|date('d/m/Y H:i:s')}}</small>
                    </div>
                    <p class="mb-1">{{feedback.content}}</p>
                    <p class="text-right">Note : {{feedback.rating}}/5</p>
                    {% endfor %}
                </div>              
            </div>
        </div>
    </div>
</div>
{% endblock %}
