{% extends 'base.html.twig' %}

{% block title %}Ajouter un commentaire{% endblock %}

{% block body %}
<div class="container mt-4">
    <div class="row">
        <h1 class="ml-auto mr-auto"> Vaisseau {{spacecraft.name}}</h1>
    </div>
    <div class="row">
        <div class="col-xs-12 col-lg-4">
            <img src="/images/pictures_spacecrafts/picture_{{spacecraft.name}}.jpg" alt="Image de {{spacecraft.name}}" class="w-100 ml-auto mr-auto">
        </div>
        <div class="col-xs-12 col-lg-8">
            <p class="p-2"> {{spacecraft.description}} Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus quam incidunt esse et quod nihil quisquam, eum labore praesentium odit ullam distinctio reiciendis at alias, consequuntur voluptatem minus hic sapiente. Tempore aut voluptate cupiditate. Quam, fugit? Unde eveniet, quos perferendis nesciunt explicabo debitis temporibus sapiente illum incidunt molestias possimus iste!</p>
            <div class="row">
                <table class="table table-hover">
                    <tbody>
                        <tr class="text-center">
                            <td> Nombre de sièges </td>
                            <td>{{spacecraft.numberOfSeat}}</td>
                        </tr>
                        <tr class="text-center">
                            <td> Vitesse</td>
                            <td>{{spacecraft.speed}} km/h</td>
                        </tr>
                        <tr class="text-center">
                            <td> Destinations possibles</td>
                            <td> <ul>{% for possibleDestination in spacecraft.possibleDestination %}<li>{{possibleDestination.name}}</li>{% endfor %}</ul></td>
                        </tr>
                        <tr class="text-center">
                            <td> Prix </td>
                            <td>{{formatPrice(spacecraft.reservationPrice,2)}} € + {{formatPrice(spacecraft.pricePerDistance,5)}} €/km</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <p style="font-size:1rem" class="ml-auto mr-auto"> Note actuelle :</p>
    </div>
    <div class="row">
        <h1 class="ml-auto mr-auto">{{displayStarRating(spacecraft.rating)}}</h1>
    </div>
</div>

<div class="container mt-4">
    <div class="row">
        <h4 style="font-size:1.5rem" class="text-center"> Donnez votre note pour ce vaisseau : </h4>
    </div>
    <div class="row">
        <p class="ml-auto mr-auto" style="font-size:30px"> <a id="ratingMinusClick" href="#"><i id="ratingMinus" class="bi bi-dash"></i></a> <span id="userRating">{% for i in 0..4 %}<i class="bi bi-star"></i>{% endfor %}</span> <a href="#" id="ratingPlusClick"><i id="ratingPlus" class="bi bi-plus"></i></a></p> 
    </div>
    {{form_start(form)}}
    <div class="row">
        <div class="col-4">
        {{form_widget(form.rating, {'id':'rating', 'attr':{'class':'invisible'}})}}
        </div>
    </div>  
    <div class="row">
        <div class="col">
        {{form_row(form.content,{id:"content"})}}
            <div class="d-flex justify-content-between">
            <p id="alert"></p>
            <p class="text-muted"><span id="character_count"> </span> /510 </p>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
      <button class="btn btn-primary"> Poster mon commentaire</button> 
    </div>
   
    {{form_end(form)}}


    
</div>
{% endblock %}